*{
    background-color: aqua;
}
.container{
    text-align: center;
    color: black;
    padding-top: 15%;
}
#quote{
    font-size: 20px;
    color: crimson;
}
button{
    padding: 1%;
    border-radius: 20%;
    width: 10%;
    color: green;
    background-color: deeppink;
}